.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}
input {
  margin-bottom: 10px; 
}

/* Primary button */
.primary-button {
  background-color: #007e00;
  color: #ffffff;
  /* Add any other styles you want for your primary button */
}

/* Secondary button */
.secondary-button {
  background-color: #2ecc71;
  color: #ffffff;
  /* Add any other styles you want for your secondary button */
}

/* Danger button */
.danger-button {
  background-color: #e74c3c;
  color: #ffffff;
  /* Add any other styles you want for your danger button */
}